{% extends "edbase.html" %}
{% load static %}
{% block content %}
<div class="card mx-md-3">
    <div class="card-body pt-0">
        <form method="post" action="{% url 'AddCourse' %}">{% csrf_token %}
            <div class="newcoursediv">
            <div class="container-fluid">
                <br>
                <h4 class="card-title bg-secondary text-light text-center z-depth-1">New Course</h4>
                <div id="addcoursecontent0" class="row newcourserow">
                    <div class="col subj">
                        <label for="subjdropdown">Subject</label>
                        <select class="form-control subjectselect" id="subjdropdown" name="subject" required>
                            <option selected="selected" value="">Select Subject</option>
                            {% for subj in subjects %}
                            <option value="{{ subj }}">
                            {{ subj }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col num">
                        <label for="numdropdown">Number</label>
                        <select class="form-control numberselect" id="numdropdown" name="number" required>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col title">
                        <label for="titledropdown">Title</label>
                        <select class="form-control titleselect" id="titledropdown" name="title" required>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col instr">
                        <label for="instructortext">Instructor</label>
                        <input type="text" class="form-control instructor" id="instructortext" name="instructor" placeholder="instructor">
                    </div>
                    <div class="col cr">
                        <label for="creditstext">Credits</label>
                        <input type="text" class="form-control credits" id="creditstext" name="credits" placeholder="credits" required>
                    </div>
                    <div class="col crn">
                        <label for="crntext">CRN</label>
                        <input class="form-control crn" type="text" id="crntext" name="crn" placeholder="CRN">
                    </div>
                </div>
                <div class="row">
                    <div class="col term">
                        <label for="termdropdown">Term</label>
                        <select class="form-control termselect" id="termdropdown" name="term" required>
                            <option value="" selected disabled hidden>Choose</option>
                            <option value="01">
                            January
                            </option>
                            
                            <option value="02">
                            Spring
                            </option>

                            <option value="06">
                            Summer
                            </option>
                            
                            <option value="09">
                            Fall
                            </option>
                        </select>
                    </div>
                    <div class="col year">
                        <label for="yeardropdown">Year</label>
                        <select class="form-control yearselect" id="yeardropdown" name="year" required>
                            <option value="" selected disabled hidden>Choose</option>
                            {% for year in years %}
                            <option value="{{ year }}">
                            {{ year }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col maj1">
                        <label for="maj1select">MAJ1</label>
                        <select name="maj1" class="form-control maj1select">
                            <option value=0>
                                No
                            </option>
                            <option value=1>
                                Yes
                            </option>
                        </select>
                    </div>
                    <div class="col maj2">
                        <label for="maj2select">MAJ2</label>
                        <select name="maj2" class="form-control maj2select">
                            <option value=0>
                                No
                            </option>
                            <option value=1>
                                Yes
                            </option>
                        </select>
                    </div>
                    <div class="col min1">
                        <label for="min1select">MIN1</label>
                        <select name="min1" class="form-control min1select">
                            <option value=0>
                                No
                            </option>
                            <option value=1>
                                Yes
                            </option>
                        </select>
                    </div>
                    <div class="col min2">
                        <label for="min2select">MIN2</label>
                        <select name="min2" class="form-control min2select">
                            <option value=0>
                                No
                            </option>
                            <option value=1>
                                Yes
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col completed">
                        <label for="completedselect">Completed?</label>
                        <select name="completed" class="form-control completedselect">
                            <option value=0>
                                No
                            </option>
                            <option value=1>
                                Yes
                            </option>
                        </select>
                    </div>
                    <div class="col whittierclass">
                        <label for="is_whittierselect">Taken at Whittier College?</label>
                        <select name="is_whittier" class="form-control is_whittierselect">
                            <option value=0>
                                No
                            </option>
                            <option value=1 selected="selected">
                                Yes
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row lastrow">
                    <div class="col notes">
                        <label for="notestext">Notes</label>
                        <input type="text" class="form-control instructor" id="notestext" name="notes" placeholder="notes">
                    </div>
                </div>
                <input type="hidden" name="add_course">
            </div>
            </div>
            <br>
            <input type="hidden" name="submit_info">
            <button onclick="addcourse()" type="button" class="btn btn-secondary addcoursebutton">
                Add another?
            </button>
            <button type="submit" class="btn btn-primary">
                Submit
            </button>

        </form> 
    </div>
</div>
<br>
{% include "ed/allcourses.html" %}
{% endblock content %}

<script>
{% block javascript %}
    $(document).ready(function(){
        $('.subjectselect').each(function() {
            $(this).change(function(){
            <!-- make request to api and then log it -->
                numbsel = $(this).parent().parent().find('.numberselect');
                console.log(numbsel);
                titlesel = $(this).parent().parent().find('.titleselect');
                var subj = $(this).val();
                console.log(subj);
                var numbs;
                var data1;
                numbsel
                    .find('option')
                    .remove()
                    .end()
                ;
                titlesel
                    .find('option')
                    .remove()
                    .end()
                ;
                if (subj) {
                    $.getJSON("{% url 'API' %}" + subj + "/", function(data) { // request being made to api 
                        data1 = data;
                        console.log(subj);
                    }).done(function() {
                        numbs=[];
                        $.each(data1, function(key, num) {
                            //console.log(key, num);
                            numbs.push(key);
                        });
                        numbs.sort();
                        numbsel.append('<option value="">Select Number</option>');
                        for( var i=0; i<numbs.length; i++) {
                            numbsel
                                .append('<option value="'+ numbs[i] +'">' + numbs[i] + '</option>');
                        };
                        console.log("subjdropdownchangefinish");
                    });
                }
            });
        });
        $('.numberselect').each(function() {
            $(this).change(function() {
                titlesel = $(this).parent().parent().find('.titleselect');
                var subj = $(this).parent().parent().find('.subjectselect').val();
                var num = $(this).parent().parent().find('.numberselect').val();
                var data1;
                titlesel
                    .find('option')
                    .remove()
                    .end()
                ;
                if (num) {
                    $.getJSON("{% url 'API' %}" + subj + "/" + num + "/", 
                        function(data) {
                            data1 = data;
                    }).done(function() {
                        console.log("getJSONTitlesDone");
                        titles=[];
                        $.each(data1, function(key, num) {
                            //console.log(key, num);
                            titles.push(key);
                        });
                        titles.sort();
                        console.log(titles);
                        for(var i=0; i<titles.length; i++) {
                            titlesel
                                .append('<option value="'+titles[i]+'">'
                                        + titles[i] + '</option>')
                                ;
                        };
                    });
                }
            });
        });
    });
</script>
    <!-- use js to get table rows and paste them inside the form in another row. -->
<script>
    var contentnum = 0;
    function addcourse(){
        $('.newcoursediv')
            .eq(0)
            .clone(true)
            .insertBefore('.addcoursebutton');
        $('.container')
            .eq(-1)
            .append("<div class='row removecourserow' onclick='removerow($(this));return false;'><div class='col'><div class='btn btn-primary'>remove</div></div></div>");
    };
    function removerow(x){
        x.closest('.newcoursediv').remove();
    };
{% endblock javascript %}
</script>
