{% load ed_extras %}
<div class="card">
    <h2 class="card-title bg-primary text-center text-light z-depth-1-half">Approved Courses</h2>
    <div class="card-body">
    {% if usercourses %}
        <table id="AllCoursesTable" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <td id="desktop">CRN</td>
                <td>Subject</td>
                <td id="tablet">Number</td>
                <td>Title</td>
                <td id="tablet">Credits</td>
                <td id="desktop">Term</td>
                <td id="desktop">MAJ1</td>
                <td id="desktop">MAJ2</td>
                <td id="desktop">MIN1</td>
                <td id="desktop">MIN2</td>
                <td id="tablet">Completed</td>
                <td id="desktop">Whittier Course</td>
                <td id="desktop">Notes</td>
            </tr>
            </thead>
            <tbody>
            {% for course in usercourses %}
            <tr>
                <td id="desktop">
                    {{ course.crn }}
                </td>
                <td>
                    {{ course.course.subject.short }}
                </td>
                <td id="tablet">
                    {{ course.course.number }}
                </td>
                <td>
                    {{ course.course.title }}
                </td>
                <td id="tablet">
                    {{ course.credits }}
                </td>
                <td data-order="{{ course.term.code }}" id="desktop">
                    {{ course.term }}
                </td>
                <td id="desktop">
                {% if course.maj1 %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="desktop">
                {% if course.maj2 %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="desktop">
                {% if course.min1 %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="desktop">
                {% if course.min2 %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="tablet">
                {% if course.completed %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="desktop">
                {% if course.is_whittier %}
                    Y
                {% else %}
                    N
                {% endif %}
                </td>
                <td id="desktop">{{ course.notes|safe }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#AllCoursesTable').DataTable({paging: false});
            });
        </script>
        <h4>{{ usercourses.total }} Credits ({{ usercourses.earned }} earned)</h4>
    {% else %}
    <p> You do not seem to have added any courses to your Educational Design.</p>
    {% endif %}
    </div>
