
{% extends 'edbase.html' %}

{% block content %}
<div>
    <button class="tablinks btn btn-secondary" onclick="openTab(event, 'majorCourses')" id="defaultOpen">By Major/Minor</button>
    <button class="tablinks btn btn-secondary" onclick="openTab(event, 'allCourses')" id="defaultOpen">All Courses</button>
</div>

<br>

<div id="majorCourses" class="tabcontent">
    {% include 'ed/sharedmajor.html' %}
    </br>
    {% include 'ed/sharedminor.html' %}
</div> 
<br>
<div id="allCourses" class="tabcontent">
    {% include 'ed/sharedallcourses.html' %}
    <br>
</div>
{% endblock content %}

{% block javascript %}
function openTab(evt, tabName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab"
  document.getElementById(tabName).style.display = "inline";
  evt.currentTarget.className += " active";
} 

// Get the element with id="defaultOpen" and click on it
//document.getElementById("defaultOpen").click();
{% endblock javascript %}
