<ul class="dropdown-menu">
    <a class="nav-link btn btn-primary text-light" href="{% url 'ED' %}">Educational Design</a>
    <a class="nav-link btn btn-primary text-light" href="{% url 'MajorMinor' %}">Major/Minor</a>
    <a class="nav-link btn btn-primary text-light" href="{% url 'AllGoals' %}">Goals</a>
    <a class="nav-link btn btn-primary text-light" href="{% url 'CourseList' %}">Courses</a>
    <a class="nav-link btn btn-primary text-light" href="{% url 'ApprovedCourses' %}">Approved Courses</a>

</ul>
