{% load ed_extras %}
<div class="card">
    <h2 class="card-title bg-primary text-light text-center z-depth-1-half">Supporting Courses</h2>
    <div class="card-body">
    {% if support %}
        <table id="SupportTable" class="table table-striped table-bordered" style="wclassth:100%">
            <thead>
            <tr>
                <td class="desktop">CRN</td>
                <td>Subject</td>
                <td class="tablet">Number</td>
                <td>Title</td>
                <td class="desktop">Term</td>
                {% if request.user|has_group:"Student" %}
                <td></td>
                {% elif  request.user|has_group:"Director" %}
                <td>Approved</td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for course in support %}
                <tr>
                    <td class="desktop">
                        {{ course.crn }}
                    </td>
                    <td>
                        {{ course.course.subject.short }}
                    </td>
                    <td class="tablet">
                        {{ course.course.number }}
                    </td>
                    <td>
                        {{ course.course.title }}
                    </td>
                    <td data-order="{{ course.term.code }}" class="desktop">
                        {{ course.term }}
                    </td>
                    {% if request.user|has_group:"Student" %}
                    <td style="width: 90px">
                        {% include 'ed/editcoursebutton.html' %}{% include 'ed/deletecoursebutton.html' %}
                    </td>
                    {% elif request.user|has_group:"Director" %}
                    <td style="width: 90px">
                        <input type="checkbox" form="approve" id="{{ course }}" name="{{ course }}" value="True" checked>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% with tablename='#SupportTable' %}
            {% include "ed/tablesettings.html" %}
        {% endwith %}
        <h4>{{ support.total }} Credits ({{ support.earned }} earned)</h4>
    {% endif %}
    </div>
</div>
